@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}